@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --background-color: white;
    --primary-color:#E02C6D;
    --desc-color: #787885;
    --font-color: #3A3A3A;
    --font-black-color: #000000;
    --orange-color: #FB8200;
    --primary-font: Poppins;
    --secondary-font: In;

}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 50px;
}
::-webkit-scrollbar-track{
  background-color: var(--background-color);
    width: 50px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: var(--primary-font);
    list-style-type: none;
    color: var(--font-color);
    transition: .2s ease-in-out;
}

html{
    
    overflow-x: hidden;
}
body{
    background: var(--background-color);
    color: var(--font-color);
    height: 100vh;
    padding: 30px 300px;
  
}


.navbar{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar ul{
    display: flex;
    
}

.navbar li a{

    padding: 10px 20px;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}
.navbar li a:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}
.nav-icon{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav-icon:hover .nav-Incon{
    color: var(--background-color);
}
.nav-Incon{
    font-weight: 600;
    font-size: 1.2rem;

}
.nav-icon > span{
     width: 11px;
     height: 11px;
     border-radius: 50%;
     background-color: var(--primary-color);
     position: absolute;
     top: 10px;
     right: 17px;
     border: 2px solid var(--background-color);
}



.banner{
      padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.banner-left-side{
    max-width: 582px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    
  
}
.banner-title{
    font-size: 3.25rem;
    line-height: 65px;
}
.banner-desc{
    font-size: 1rem;
}
.banner-left-side a{
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 50px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 196px;
}
.book-icon{
    font-size: 1rem;
   font-weight: 500;
    color: var(--background-color);
}


.banner-right-side{
    width: 475px;
    height: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/Circle\ design.svg");
   
}

.banner-footer{
      padding: 30px;
       border-top: 1px solid #0000000e;
       border-bottom: 1px solid #0000000e;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 100px;
}































.mobile-navbar{
    display: none;
}