@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --background-color: white;
    --primary-color:#E02C6D;
    --desc-color: #787885;
    --font-color: #3A3A3A;
    --font-black-color: #000000;
    --orange-color: #FB8200;
    --primary-font: Poppins;
    --secondary-font: Inter;

}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 50px;
}
::-webkit-scrollbar-track{
  background-color: var(--background-color);
    width: 50px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: var(--primary-font);
    list-style-type: none;
    color: var(--font-color);
    transition: .2s ease-in-out;
}

html{
    
    overflow-x: hidden;
}
body{
    background: var(--background-color);
    color: var(--font-color);
    height: 100vh;
 
  
}


.navbar{
    padding: 30px 300px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar ul{
    display: flex;
    
}

.navbar li a{

    padding: 10px 20px;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}
.navbar li a:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}
.nav-icon{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav-icon:hover .nav-Incon{
    color: var(--background-color);
}
.nav-Incon{
    font-weight: 600;
    font-size: 1.2rem;

}
.nav-icon > span{
     width: 11px;
     height: 11px;
     border-radius: 50%;
     background-color: var(--primary-color);
     position: absolute;
     top: 10px;
     right: 17px;
     border: 2px solid var(--background-color);
}



.banner{
      padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 300px;


 
}
.banner-left-side{
    max-width: 582px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    
  
}
.banner-title{
    font-size: 3.25rem;
    line-height: 65px;
}
.banner-desc{
    font-size: 1rem;
}
.banner-left-side a{
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 50px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 196px;
    font-weight: 600;
}
.book-icon{
    font-size: 1rem;
   font-weight: 600;
    color: var(--background-color);
}


.banner-right-side{
    width: 475px;
    height: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/Circle\ design.svg");
   
}
.banner-right-side img{
    width: 90%;
}
.banner-footer{
      padding: 30px;
       border-top: 1px solid #0000000e;
       border-bottom: 1px solid #0000000e;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 100px;
    

    

}
.images{
    padding: 0px 300px;
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0px 300px;
    padding-top: 100px;
    padding-bottom: 50px;

}
.items-title{
    font-size: 1.75rem;
    font-weight: 600;
}

.item-cart{
    width: 330px;
    max-height: 476px;
    box-shadow: 0px 1px 20px hsla(0, 0%, 0%, 0.092);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5px;
    gap: 10px;
    margin: 0px auto;
}
.item-cart img{
    width: 100%;
}
.item-name{
font-size: 1.75rem;
font-weight: 500;
}
.item-price{
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--font-black-color);
}
.item-cart p{
    font-size: 0.875rem;
    color: var(--desc-color);
    font-weight: 700;
}
.star-sec{
    display: flex;
    align-items: center;
    justify-content: start;
  
    gap: 10px;
}
.repurtaion{
    display: flex;
    align-items: start;
     gap: 3px;
    margin-top: -3px;
}
.item-rating{
    font-size: 0.875rem;
    color: var(--desc-color);
  
}
.repurtaion li i{
    color: var(--orange-color);
    font-size: 0.7rem;
}
.cart-descriptions{
    margin-top: -10px;
}
.items-container{
      padding: 0px 150px;
 
    width: 100%;
    display: grid;
    justify-content: space-around;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}
.item-cart:hover{
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0px 1px 40px #0000003b;
}
.seemore{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0px 10px;
}
.seemore-cart{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}
.seemore-cart i{
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
}


.features-left-side{
    width: 404px;
    
}
.features-left-side img{
    width: 100%;
}
.features-right-side{
    width: 610px;
}
.feature-title{
    font-size: 2.375rem;
    font-weight: 700;
}
.feature-p{
    font-size: 1rem;
    font-weight: 700;
    color: var(--desc-color);
}

.join-now{
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 8px 30px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}
.join-now i{
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 500;
}
.features-right-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 300px;
   padding-bottom: 80px;
    width: 100%;
}

.footer{
    background: #20024224;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
    gap: 10px;
   
}
.footer ul{
    display: flex;
    gap: 10px;
}
.footer-title{
    font-size: 1.5rem;
}
.copy-p, .copy-2{
    font-size: 0.875rem;
    color: var(--desc-color);
    font-weight: 600;
}
.footer ul li a{
    width: 32px;
    height: 32px;
    background: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 10px;
}
.footer li a i{
    color: var(--background-color);
}
.copy-2{
    margin-top: -3px;
}
.mobile-navbar{
    display: none;
}

@media screen and (max-width: 576px) {
    .mobile-navbar{
        display: flex;
    }
  
    .navbar-web{
        display: none;
    }

    .banner{
        flex-direction: column;
        padding: 0;
    }
    .banner-right-side{
        width: 257px;
        height: 257px;
      
        background-size: cover;
    }
    .banner-right-side img{
        width: 100%;
    }
    .logo-name{
        font-size: 1rem;
       
    }
    .banner-title{
        font-size: 1.75rem;
        width: 100%;
        line-height: 35px;
    }
    .banner-desc{
        font-size: 0.875rem;
        width: 320px;
    }
    .banner-left-side{
        text-align: center;
        align-items: center;
        width: 100%;
        position: relative;
        order: 1;
    }
    .banner-right-side{
        position: relative;
        order: 0;
    }
    .banner-footer{
        flex-wrap: wrap;
        border: none;
        gap: 10px;
        margin-top: -20px;
    }
    .banner-footer img{
        width: 22%;
    }
    .navbar{
        padding: 20px 0px;
        justify-content: space-around;
    }
    .images{
        padding: 0;
      
    }
    
    body{
        width: 100%;
         
    }
   
   
    .banner{
         margin-top: 20px;
        width: 100%;
        padding: 0px;
        align-items: center;
    }

 





    .main{
        padding: 0px;
    }
    .items-container{
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .seemore{
        justify-content: center;
    }


    .features{
        padding: 10px 0px;
        gap: 20px;
        overflow-x: hidden;
       
        flex-direction: column;
      
    }
    .features-left-side{
        width: 70%;
        position: relative;
        order: 1;
        
    }
    .features-right-side{
        align-items: center;
        text-align: center;
        width: 80%;
        position: relative;
        order: 0;
      
        padding: 0;
    }
    .feature-title{
        font-size: 1.5rem;
    }
    .feature-p{
        font-size: .8rem;
    }
    .footer-title{
        font-size: 1rem;
    }
    .copy-p, .copy-2{
        font-size: .75rem;
    }
    .footer ul li a{
        width: 24px;
        height: 24px;
    }
    .footer ul li a i{
        font-size: .75rem;
    }

}



@media screen and (min-width: 576px) and (max-width: 992px){



      .navbar{
        padding: 50px 10px;
        flex-direction: column;
      }
      .banner{
        padding: 0;
        flex-direction: column;
      }
      .banner-left-side{
        position: relative;
        order: 1;
      
      }
      .banner-right-side{
        
         background-size: cover;
        margin-bottom: 50px;
      }
      .images{
        padding: 0;
      }
      .banner-footer img{
        width: 15%;
      }
      .banner-footer{
        gap: 30px;
        flex-wrap: wrap;
       
      }
      .main, .features{
        padding: 0;
      }
      .items-container{
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
      }
      .features{
        flex-direction: column;
        gap: 20px;
      }
      .features-left-side{
        position: relative;
        order: 1;
      }
      .features-right-side{
        position: relative;
        order: 0;
        align-items: center;
      }
      .seemore{
        justify-content: center;
      }
}























